Repository CS2103-AY1819S2-W14-1/main, pull requests merged in 2019-02, with the labels that each got.

#5 Update AboutUs and UGDG.
  docs/AboutUs.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
  docs/images/halcyoneee.png
  docs/images/yijinl.jpg
  docs/team/halcyoneee.adoc
Labels: docs

#6 Updated UGDG v1.1
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
Labels: docs

#7 Docs for contactus and ppp
  docs/ContactUs.adoc
  docs/team/eugenefdw.adoc
Labels: docs

#10 Update AboutUs.adoc
  docs/AboutUs.adoc
  docs/images/DigiPie.png
  docs/images/damithc.jpg
  docs/images/lejolly.jpg
  docs/images/m133225.jpg
  docs/images/yl_coder.jpg
  docs/team/DigiPie.adoc
  docs/team/johndoe.adoc
Labels: docs

#9 README.adoc - Updated badges
  README.adoc
Labels: docs

#13 Update DG on Target Scope, User Stories and Glossary
  docs/DeveloperGuide.adoc
Labels: docs

#15 Update User Guide and Developer Guide
  docs/AboutUs.adoc
  docs/DeveloperGuide.adoc
  docs/UserGuide.adoc
Labels: docs

#20 Update User Guide
  docs/UserGuide.adoc
Labels: docs

#23 Update filepaths to test
  build.gradle
Labels: severity.Low, status.Ongoing

#32 Add Quiz and QuizCard class
  src/main/java/braintrain/commons/util/AppUtil.java
  src/main/java/braintrain/model/quiz/Quiz.java
  src/main/java/braintrain/model/quiz/QuizCard.java
  src/main/java/braintrain/model/quiz/exceptions/NotInitialisedException.java
  src/test/java/braintrain/commons/util/AppUtilTest.java
  src/test/java/braintrain/model/quiz/QuizCardTest.java
  src/test/java/braintrain/model/quiz/QuizTest.java
Labels: type.Epic
